<nav class="navigation">
    <div class="navigation__container">
        <a href="" class="navigation__brand" href="/">YelpCamp</a>
        <svg class="navigation__toggle-hamburger">
            <use href="/images/sprite.svg#icon-hamburger"></use>
        </svg>
        <div class="navigation__links navigation__links--collapse">
            
        </div>
    </div>
</nav>