<nav class="navigation">
    <div class="navigation__branding">

        <a href="" class="navigation__logo" href="/">
            YelpCamp
        </a>
    </div>
    <div class="navigation__links navigation__links--collapsed">
        <svg class="navigation__hamburger">
            <use href="/images/sprite.svg#icon-hamburger"></use>
        </svg>
        <a href="/campgrounds" class="navigation__item">All Campgrounds</a>
        <a href="/campgrounds/new" class="navigation__item">Add Campground</a>
    </div>
</nav>