<nav class="navigation">
    <a href="" class="navigation__logo" href="/">
        Brand Name
    </a>

    <div class="navigation__links navigation__links--collapsed">
        <a href="/campgrounds" class="navigation__item">All Campgrounds</a>
        <a href="/campgrounds/new" class="navigation__item">Add Campground</a>
        <a href="/campgrounds/new" class="navigation__item">Link Three</a>
        <a href="/campgrounds/new" class="navigation__item">Link Four</a>
        <a href="/campgrounds/new" class="navigation__item">Link Five</a>
    </div>

    <svg class="navigation__hamburger">
        <use href="/images/sprite.svg#icon-hamburger"></use>
    </svg>
</nav>