<nav class="navigation">
    
    <a href="/" class="navigation__logo">
        Brand Name
    </a>

    <div class="navigation__items">
        <a href="/campgrounds" class="navigation__item">All Campgrounds</a>
        <a href="/campgrounds/new" class="navigation__item">Add Campground</a>
    </div>

    <svg class="navigation__toggle-button">
        <use href="/images/sprite.svg#icon-hamburger"></use>
    </svg>

    <script src="/scripts/responsive-nav.js"></script>
</nav>