:root {
    --color-primary-light:  #466fe2;
    --color-primary:  #114df0;
    --color-primary-dark:  #11369b;
}

* {
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    font: 400 1rem/1.7 'Open Sans', sans-serif;
    background:
        // linear-gradient(to right bottom, rgb(205, 220, 236), rgb(25, 183, 231))
        no-repeat
        center/cover;
    min-height: 130vh;
    position: relative;
    font: 400 1.1rem/1.5 Poppins, sans-serif;
    letter-spacing: 0.1rem;
}
