.header {
    position: absolute;
    height: 4rem;
    width: 100%;
    padding: .5rem 0;
    background: var(--color-primary);
    color: white;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
    }

    &__logo {
        text-decoration: none;
        font-size: 2rem;
    }

    &__items {
        display: none;
        position: absolute;
        top: 4rem;
        background-color: var(--color-primary);
        width: 100%;
        transition: all .5s ease-in-out;

        &--active {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 1rem 0;
        width: 100%;
        text-align: center;

        &:hover {
            background-color: var(--color-primary-light);
        }
    }

    &__toggle-button {
        height: 3rem;
        width: 3rem;
        fill: #ffffff;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__item {
    }
}

.campgrounds {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    &__item {
        // flex: 1 1 10rem;
        height: 8rem;
        max-width: 25rem;
    }

    &__item > a {
        text-decoration: none;
    }
}


@keyframes slideDown {
    0% {
        transform: translateY(-40rem);
    }
    100% {
        transform: translateY(4rem);
    }
}

.explore-view {
    display: flex;

    &__heading {

        &-primary {
            font-size: 1.5rem;
            font-weight: 600;
        }
        &-secondary {
            font-size: 1.1rem;
            font-weight: 300;
        }
    }

    &__cta {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__action {
        padding: 3rem 1rem;
        border: 1px solid black;
        border-radius: .5rem;
        text-decoration: none;
    }

    &__content {
        padding: 0 1rem;
        position: relative;

        &-primary {
            width: 100%;
        }

        &-secondary {
            display: hidden;
        }
    }
}