.header {
    position: absolute;
    height: 4rem;
    background-color: white;
    width: 100%;
    padding: .5rem 2rem;
    background: #114df0;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__logo {
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4rem;
        position: absolute;
        top: 4rem;

        &--collapsed {
            display: none;
        }
    }

    &__hamburger {
        height: 3rem;
        width: 3rem;
        fill: #ffffff;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__item {
    }
}

.campgrounds {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    &__item {
        // flex: 1 1 10rem;
        height: 8rem;
        max-width: 25rem;
    }

    &__item > a {
        text-decoration: none;
    }
}

